.navbar {
    background-image: linear-gradient(to right,#F9A66C,#F17A7E);
    /* background-color: rgb(230, 164, 164); */
    border-radius: 10px;
}

.navbar ul {
    overflow: auto;
}

.navbar li {
    float: left;
    list-style: none;
    margin: 15px 50px;
}

.navbar li a {
    padding: 3px 3px;
    text-decoration: none;
    color: black;
}
.navbar li a:hover {
   color: rgb(83, 81, 81);
}
.navbar input{
    border: 1px solid rgb(164, 150, 150);
    border-radius: 10px;
    padding: 3px 4px;
    margin: 16px 270px;
    float: right;
}
*{
    box-sizing: border-box;
}
.top {
    /*margin: auto;
    width: 15%; */

}

img {
    display: block;
    margin: auto;
    width: 200px;
}


h3 {
    font-family:'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    margin: 0px;
    font-size: 300%;
}
.box{
    background-color: gray;
    margin-top: 50px;
    padding: 20px;
    display: inline-block;
    width: 33%;
    box-sizing: border-box;
}
.container{
    margin: auto;
    width: 80%;
}
#p1{
    font-family:'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 200;
    text-align: center;
    margin: 20px 20px;
    font-size: 200%; 
}
.wrap{
    width: 1000px;
    margin: auto;
    display: flex;
    /* box-shadow: 5px 5px 5px 5px greenyellow; */

}
.card1{
    width: 500px;
    /* background: #f5a4a4; */
    background-image: linear-gradient(to right,#F9A66C,#F17A7E);
    height: 400px;
    margin: 10px;
    text-align: center;
    border-radius: 17px;
    /* box-shadow: 0px 0px 10px 5px greenyellow; */
}
.card2{
    width: 500px;
    /* background: #f5a4a4; */
    background-image: linear-gradient(to right,#F9A66C,#F17A7E);
    height: 400px;
    margin: 10px;
    text-align: center;
    border-radius: 17px;
    /* box-shadow: 0px 0px 10px 5px greenyellow; */
}
.card3{
    width: 500px;
    /* background: #f5a4a4; */
    background-image: linear-gradient(to right,#F9A66C,#F17A7E);
    height: 400px;
    margin: 10px;
    text-align: center;
    border-radius: 17px;
    /* box-shadow: 0px 0px 10px 5px greenyellow; */
}
.card1 :hover, .card2 :hover, .card3:hover{
color: brown;
}


.about{
    width: 66%;
    text-align: center;
    /* box-shadow: 0px 0px 10px 5px greenyellow; */


    height: 420px;
    background-color: #fabd92;
    /* background-color: antiquewhite; */
    border-radius: 17px;
    margin: auto;
}
.pp{
    font-family:'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 3px 20px;  
}
#hh{
    font-family:'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
    padding-top: 10px;
    margin: 14px 14px;
}
.contact{
    width: 66%;
    text-align: center;

    height: 450px;
    background-color: #fabd92;
    /* background-color: antiquewhite; */
    border-radius: 17px;
    margin: auto;}
#ppp{
    font-family:'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 3px 20px;  
}
.hhh{
    font-family:'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
    padding-top: 10px;
    margin: 14px 14px;
}
#name,#email,#subject,#message,#send{
    border-radius: 10px;
 margin: 7px 7px;
 background-color: #f5eaea;
}
#insta{
    width: 30px;
    height: 30px;
    border: 5px ;
    margin: auto;
}
